

body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba; 
    font-family: 'Arial';  
}

.login{ 
       margin-top: 100px; 
        width: 390px; 
        height: 530px; 
        background: white;  
        border-radius: 0px ;  
        color: blue;
         font-family: verdana;
        font-size: 10px;
        display: table;
        margin: 100px auto;
}  
h1{  
    text-align: center;  
    color:gray;  
    padding: 20px; 
    font-size: 20px; 
}  


#Pass{  
   margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
    border: none;  
    border-bottom: 1px solid grey;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 80%;
    height: 20px;
    background: transparent;
    padding: 0 5px
    
        
}  


  input[type=text], input[type=password]
   {
    
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline;
  background: transparent;




}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
}


button {

  background-color: #04AA6D;
  border-radius: 50px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
   float:center;
  width: 30%;
  background-color: #f44336;

}

.cancelbtn, .signupbtn {
  float:center;
  width: 30%;
}


a{  
     margin-top: 20px;
    font-size: 50px;
    padding-right: 50px; 
    background-color: white; 

}


